anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
bokeh
certifi
cffi
charset-normalizer
cloudpickle
colorama
comm
contourpy
cycler
DateTime
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
gym
gym-notices
h11
httpcore
httpx
idna
importlib_metadata
importlib_resources
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numba
numpy
overrides
packaging
pandas
pandocfilters
paranoid-scientist
parso
patsy
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
pure-eval
pycparser
pyddm
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
statsmodels
sympy
tbb
terminado
threadpoolctl
tinycss2
tomli
torch
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
ujson
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
xyzservices
zipp
zope.interface
